{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block body %} {% endblock %}


{% block content %}
    <h3 class="text-center">Nos meilleurs ventes</h3>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>



    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Casque-micro sans fil PULSE 3D™
                <span class="text-muted"> La qualité sonore de vos jeux s'exprime enfin.</span>
            </h2>
            <p class="lead">Vivez une expérience fluide grâce au casque conçu spécialement pour offrir un son 3D sur les
                consoles PS51. Le casque-micro sans fil PULSE 3D est équipé de deux microphones à réduction de bruit de
                fond, de la charge USB Type-C®, et d'un accès facilité aux commandes.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/first.jpg') }}" alt="Un savoir-faire français" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Carte d’extension de stockage
                <span class="text-muted"> Seagate pour Xbox Series X|S (1 To)</span>
            </h2>
            <p class="lead">La carte d’extension de stockage Seagate pour Xbox Series X|S offre une mémoire externe
                supplémentaire, tout en conservant la même vitesse et les mêmes performances que le disque SSD interne
                de la console.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/second.jpg') }}" alt="Une boutique ouverte toute l'année" class="img-fluid">
        </div>
    </div>
{% endblock %}





